<div class="card">
  <div class="card-body">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="hierarchy-tree">
  <!-- Tree Nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <div>
      <button mat-icon-button matTreeNodeToggle *ngIf="node.expandable">
        <mat-icon>{{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}</mat-icon>
      </button>
      <button mat-icon-button matTreeNodeToggle *ngIf="!node.expandable && (node.type === 'province' || node.type === 'region')">
        <mat-icon>hourglass_empty</mat-icon>
      </button>
      <span>{{ node.nom }} <small><sup>{{node.type === 'commune'? node.id : ''}}</sup> </small></span>
    </div>

    <!-- Add Button for Adding New Nodes -->
    <div class="add-button"  *ngIf="treeControl.isExpanded(node) || (node.type === 'province' && !node.expandable)">
      <button
        mat-button
        color="primary"
        *ngIf="node.type === 'region'"
        (click)="openAddDialog('province', node.id)"
      >
        + Ajouter Province
      </button>

      <button
        mat-button
        color="primary"
        *ngIf="node.type === 'province'"
        (click)="openAddDialog('commune', node.id)"
      >
        + Ajouter Commune
      </button>
    </div>
  </mat-tree-node>
</mat-tree>

  </div>
</div>


